@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Lora:wght@400;500&family=IBM+Plex+Mono&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background: #f4f1ea; 
  color: #1a1a1a;
  font-family: 'Lora', serif;
  background-image: url("https://transparenttextures.com/patterns/stardust.png");
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color:#1a1a1a
}

.papper-ink-bg {
  margin: 0;
  padding: 0;
  background: #f4f1ea; 
  background-image: url("https://transparenttextures.com/patterns/stardust.png");
}

@layer utilities {
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50%{
      opacity: 0;
    }
  }

    .animate-blink {
      animation: blink 0.8s step-end infinite
    }
  
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

.swiper-button-next,
.swiper-button-prev
{  color: #000000 !important;
}

.swiper-pagination-bullet {
  background-color: #000000 !important; 
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: #000000 !important; 
  opacity: 1;
}